@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');


@media screen and (max-width: 990px) {
    .def{
        display: none;
    }
    .selfie{
        max-width: 100%;
    }
    h1, h2, p, .credit{
        text-align: center;
    }
  }

.container{
    margin-top: 25px;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

p{
    font-family: 'Open Sans', sans-serif;
}

h1,h2{
    font-family: 'Merriweather', serif;
}

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom,#F5A0C7 33.33%,#F7E696 33.33%, #F7E696 66.66%, #A3D8F8 66.66%);
    background-size: cover;
    margin: 0px;
}


.textBox{
    background-color: white;
    top: 0;
    padding: 25px;
    border-style: solid;
    border-width: 2px;
    text-align:left;
    max-height: 100%;
    margin-bottom: 25px;
}


.selfie{
    border-style: solid;
    border-width: 2px;
    width: 200%;
}


.image{
    margin-bottom: 12px;
    text-align: center;
    margin-top: 12px;
}


.icon{
    width: 35px;
    padding-right: 12px;
    display: inline-block;
    position: relative;
}
.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

h1{
    font-size: 4em;
}

.def{
    margin-top: none;
    margin-bottom: none;
}

.credit{
    text-align: left;
}

.TCLink:link, .TCLink:hover, .TCLink:active, .TCLink:visited, .TCLink{
    color: black;
    font-weight: bold;
}
