@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');

@media screen and (max-width: 767px) {
    .timeline{
        display: none;
    }
    .selfiebig{
        display: none;
    }
    /**.extrainfo{
    display:none;
    }
    .awardsInfo{
    display:blocked;
    }**/
}


@media screen and (max-width: 990px) {
    .container{
        min-width: 100%;
    }
    .selfiebig{
        display:none;
    }
}
@media screen and (min-width: 768px) {
    .stacked{
        display: none;
    }
    .selfiesmall{
        display: none;
    }
    .selfiebig{
        display:block;
        margin: auto;
    }
    /**.awardsInfo{
    display:none;
    }**/
}

.flag{
    height: 15px;
    object-fit: cover;
}

.proj, .projCaption {
    max-width: 150px;
}

.proj{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.projCaption{
    min-width: 150px;
}

.projects{
    margin: auto;
}

.projPhoto:hover {
    border-style: solid;
    border-color: dimgray;
    border-width: 3px;
}

.whiteBG {
    margin: auto;
    min-width: 95%;
    min-height: 95%;
    min-height: 95vh;
    background-color: white;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: solid;
    border-color: dimgrey;
    border-width: 3px;
    border-spacing: 2px;
}

.whiteFrame {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 95%;
    min-height: 95vh;
    padding: 10px 10px 10px 10px;
    background-color: white;
}

.container{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

p{
    font-family: 'Open Sans', sans-serif;
}

h1,h2{
    font-family: 'Merriweather', serif;
    text-align: center;
}

a{
    color: #7B0323;
}

body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom,#F5A0C7 33.33%,#F7E696 33.33%, #F7E696 66.66%, #A3D8F8 66.66%);
    background-size: cover;
    margin: 0px;
}


.textBox{
    background-color: white;
    top: 0;
    padding: 25px;
    border-style: solid;
    border-width: 2px;
    text-align:left;
    max-height: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
}


.selfie {
    width: 30%;
    border-radius: 50%;
    margin-bottom: 25px;
    border-style: solid;
    border-width: 3px;
    padding: 2px;
    border-color: dimgrey;
}



.blurb{
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}


.image{
    margin-bottom: 12px;
    text-align: center;
    margin-top: 12px;
}


.icon{
    width: 35px;
    padding-right: 12px;
    display: inline-block;
    position: relative;
}

.devpost{
    display: inline-block;
    position: relative;
    height: 25px;
}

.graphic{
    width: 45px;
}

.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

h1{
    font-size: 4em;
}

.def{
    margin-top: none;
    margin-bottom: none;
}

.credit{
    text-align: left;
}

.TCLink:link, .TCLink:hover, .TCLink:active, .TCLink:visited, .TCLink{
    color: black;
    font-weight: bold;
}

.vertical {
    border-left: 5px solid dimgrey;
    height: 100%;
    margin: auto;
} 

.space{
    margin-top: 25px;
}

.timeline {
    background: linear-gradient(#6c757d, #6c757d) no-repeat center/3px 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.credit{
    color: black;
}

.greytext{
color:grey;
}

.smallfont{
font-size:small;
}

.semibold{
font-weight:600;
}

.icon:hover,.devpost:hover {
   transform: scale(1.5);
}

.topMargin{
margin-top: 80px;
}

.transparentObj{
opacity: 0.85;
}

.nav-link:hover{
background-color: white;
}

.toggleButton {
        font-family: 'Merriweather', serif;
        text-align: center;
        background-color: white; /* White background */
        border: none;           /* No borders */
        font-size: 1.5rem;      /* Equivalent to H3 size */
        padding: 10px 20px;     /* Some padding for better appearance */
        cursor: pointer;        /* Change cursor to pointer on hover */
        margin: auto;
    }
.toggleButton:hover {
   font-weight: bolder;
   border-bottom: 1px solid #d0d0d0;
}

.accordionData {
   border-top: 1px dashed #d0d0d0;
   border-bottom: 1px dashed #d0d0d0;
}


#homeIcon{
    max-width:40px;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat927.png), auto !important;} /* End https://www.cursors-4u.com */